@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}
body {
    font-family: "Rubik", sans-serif;
}
img {
    object-fit: cover;
}

/* Start Components */
:root {
    --main-color: #f67831;
    --second-color: #eeeeee;
    --third-color: #111;
    --gradiant: linear-gradient(to right, #eb3c5a, #f67831);
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 991px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.page-header {
    background-image: url(header-landing.webp);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-header h1 {
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 400;
    color: var(--second-color);
}
.page-header a {
    text-decoration: none;
    color: var(--second-color);
}
.page-header span {
    color: var(--second-color);
    opacity: 0.6;
}
.main-btn {
    background: var(--gradiant);
    color: var(--second-color);
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 35px;
    width: fit-content;
    z-index: 5;
    outline: none;
    border: none;
    transition: all 0.3s;
}
.main-btn:hover {
    scale: 1.1;
}

/* End Components */

/* Start Nav */
nav {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background: linear-gradient(#3030304b, #3030304b);
    backdrop-filter: blur(5.5px);
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
nav ul li::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--gradiant);
    display: block;
    transition: all 0.3s;
    opacity: 0;
    margin-top: 3px;
}
nav ul li:hover::after {
    opacity: 1;
}
nav ul a {
    text-decoration: none;
    color: var(--second-color);
    font-weight: bold;
}
nav figure {
    color: var(--second-color);
    font-size: 2.2em;
    font-weight: 700;
}
nav figure span {
    color: var(--main-color);
}

/* End Nav */

/* Start Footer */
footer {
    color: var(--second-color);
}
.upper-foot {
    display: flex;
}
.upper-foot-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 400px;
    padding-left: 50px;
}
.upper-foot-half::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border: 18px solid rgba(255, 255, 255, 0.1);
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
}
.upper-foot-half:first-child {
    background-image: url(footer-banner-1.webp);
}
.upper-foot-half:last-child {
    background-image: url(footer-banner-2.webp);
}

.upper-foot-half:first-child,
.upper-foot-half:last-child {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer .colored-txt {
    color: var(--main-color);
    margin-bottom: 30px;
    font-size: 1.2em;
}
footer .white-header {
    font-weight: 600;
    font-size: 2.6em;
}
footer .white-txt {
    margin-bottom: 30px;
}
.lower-foot {
    background-color: var(--third-color);
    height: 400px;
    padding: 40px;
}
.lower-foot .contacts {
    display: flex;
}
.lower-foot .contacts div {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}
.lower-foot .colored-txt {
    font-size: small;
}
.lower-foot .footer-mail {
    background-image: url(header-landing.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    margin-bottom: 30px;
}
.lower-foot .lower-footer-txt {
    display: flex;
    flex-direction: column;
}
.lower-foot .lower-footer-txt .white-header {
    font-size: 2em;
}
.lower-foot .lower-footer-txt .white-txt {
    margin: 0;
}
.footer-input {
    height: 50px;
    display: flex;
}
.lower-foot .main-btn {
    padding: 15px 25px;
    height: 100%;
}
.lower-foot input {
    padding: 15px;
    height: 100%;
    outline: none;
    border: none;
}
.copyright a {
    color: var(--second-color);
}
.tech-titans:hover {
    color: var(--main-color);
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot-socials {
    list-style: none;
    display: flex;
    gap: 10px;
}
.foot-socials li {
    background-color: #64646457;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.foot-socials li:hover {
    background: var(--gradiant);
}

/* End Footer */

/* Start Home */
.image-slider {
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 5;
}
.image-slider .colored-txt {
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.1em;
}
.image-slider .hero-header {
    font-size: 3.5em;
    font-weight: bold;
    color: var(--second-color);
}
.image-slider p {
    color: var(--second-color);
    margin-bottom: 35px;
}
.home-about {
    display: flex;
    gap: 50px;
    margin: 120px 0;
}
.home-about-pic {
    background: url(about-pic.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-about-txt,
.home-about-pic {
    width: 50%;
}
.home-about-txt .about-p {
    opacity: 0.7;
}
.home-about-txt .about-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}
.home-about-txt .colored-txt {
    color: var(--main-color);
}
.gym-plans {
    display: flex;
}

.gym-plan-pic,
.gym-p-plans {
    width: 50%;
}
.gym-plan-pic img {
    width: 100%;
}
.gym-p-plans {
    display: flex;
}

.first-plans,
.second-plans {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 50px;
    color: var(--second-color);
}
.first-plans {
    background-color: #222;
}
.second-plans {
    background-color: #111;
}
.gym-p-plans h3 {
    margin: 25px 0;
}
.gym-p-plans p {
    opacity: 0.6;
}
.trainers-sec {
    padding: 120px 0 200px;
    background-color: var(--second-color);
}
.trainers-sec h1 {
    text-align: center;
    margin-bottom: 60px;
}
.trainers-container {
    display: flex;
    gap: 25px;
}

.single-trainer-item {
    position: relative;
    width: calc(100% / 3);
}
.single-trainer-item img {
    min-width: 100%;
}

.single-trainer-item .trainer-text {
    position: absolute;
    left: 50%;
    bottom: -55px;
    text-align: center;
    background: #ffffff;
    width: 310px;
    margin: 0 auto;
    -webkit-transform: translateX(-155px);
    -ms-transform: translateX(-155px);
    transform: translateX(-155px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 30px 18px;
    height: 90px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
}

.single-trainer-item:hover .trainer-text {
    height: 250px;
    bottom: -90px;
    padding: 26px 30px 30px;
    -webkit-box-shadow: 0px 10px 49px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 49px 0px rgba(0, 0, 0, 0.15);
}

.single-trainer-item:hover .trainer-text p {
    opacity: 1;
}

.single-trainer-item .trainer-text p {
    margin-top: 7px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.single-trainer-item:hover .trainer-text .trainer-social {
    opacity: 1;
    visibility: visible;
}

.single-trainer-item .trainer-text .trainer-social {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.single-trainer-item .trainer-text .trainer-social a:last-child {
    margin-right: 0;
}

.single-trainer-item .trainer-text .trainer-social a {
    display: inline-block;
    font-size: 17px;
    color: #111111;
    margin-right: 25px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.single-trainer-item .trainer-text .trainer-social a:hover {
    color: var(--main-color);
}

/* End Home */

/* Start About */
.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 5%;
}
.left {
    size: 20px;
    margin-top: 7%;
    margin-left: 7%;
}
.about-us-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}

.about-us-txt h1 {
    text-align: center;
    color: #f67831;
}
.about-us-txt h3 {
    font-style: italic;
    text-align: center;
}

.about-us-txt h4 {
    margin-top: 15px;
    margin-right: 7%;
    margin-bottom: 20px;
    width: 700px;
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
}
.rectangle {
    background: var(--gradiant);
    display: flex;
    margin-top: 5%;
    flex-wrap: wrap;
    text-align: center;
}
.rectangle .about-number {
    color: var(--second-color);
    width: calc(100% / 3);
    padding-top: 40px;
    padding-bottom: 30px;
}
.rectangle .about-number span {
    font-size: 3.5em;
    font-weight: 600;
    padding-inline: 50px;
}
.rectangle .about-number p {
    font-size: 1em;
    padding-inline: 50px;
}
.gym-award {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}
.gym-award-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left {
    size: 20px;
    margin-top: 7%;
    margin-right: 7%;
}
.gym-award-txt h1 {
    text-align: center;
    color: #f67831;
}
.gym-award-txt h4 {
    margin-top: 15px;
    margin-right: 7%;
    margin-bottom: 20px;
    width: 700px;
    font-size: 1em;
    text-align: center;
    font-weight: lighter;
}
/* End About */

/* Start Services */

/* Start training Part */

.containerTraining {
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.trainingText, .unlimitedClasses {
    text-align: center;
    margin: 30px;
    color: var(--third-color);
    text-transform: uppercase;
    font-size: 1.5em;
}

.trainingText h2, .unlimitedClasses h2{
    position: relative;
}

.trainingText h2::after {
    content: '';
    width: 0%;
    height: 2px;
    top: 50%;
    right: 25%;
    background-color: rgb(246, 120, 49);
    position: absolute;
    transition: width 1s;
}

.trainingText h2::before {
    content: '';
    width: 0%;
    height: 2px;
    top: 50%;
    left: 25%;
    background-color: rgb(246, 120, 49);
    position: absolute;
    transition: width 1s;
}

.trainingText:hover h2::after, .unlimitedClasses:hover h2::after {
    width: 17%;
}

.trainingText:hover h2::before, .unlimitedClasses:hover h2::before {
    width: 17%;
}
.trainingSessions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.trainingItems img{
    width: 100%;
    height: 100%;
}
.trainingItems{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.trainingContext{
    position: absolute;
    bottom: -38%;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 45%;
    transition: bottom 1s;
    border-radius: 10px;
}
.trainingItems:hover .trainingContext{
    bottom: 0;
}
.trainingContext h3{
    color: var(--main-color);
    margin: 10px;
}
.trainingContext p{
    color: var(--second-color);
    margin: 10px;
}
.trainingContext button{
    border: transparent;
    background: var(--gradiant);
    color: var(--second-color);
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
.trainingPart img, .classesPart img{
    border-radius: 10px;
}




.classesPart{
    margin: 50px;
}
.unlimitedClasses h2::after {
    content: '';
    width: 0%;
    height: 2px;
    top: 50%;
    right: 16%;
    background-color: rgb(246, 120, 49);
    position: absolute;
    transition: width 1s;
}

.unlimitedClasses h2::before {
    content: '';
    width: 0%;
    height: 2px;
    top: 50%;
    left: 16%;
    background-color: rgb(246, 120, 49);
    position: absolute;
    transition: width 1s;
}
.classesSections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.classesSections img{
    width: 100%;
    height: 100%;
}
.classesItems{
    position: relative;
    overflow: hidden;
}
.classArticle{
    position: absolute;
    bottom: -45%;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 55%;
    transition: bottom 0.7s;
    border-radius: 10px;
}
.classArticle h3{
    color: var(--main-color);
    margin: 10px;
}
.classArticle p{
    color: var(--second-color);
    margin: 10px;
}
.classArticle button{
    border: transparent;
    background: var(--gradiant);
    color: var(--second-color);
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
.classesItems:hover .classArticle{
    bottom: 0;
}







/* End Services */

/* Start Memberships */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-title {
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 25px;
    text-transform: uppercase;
}

.col-mi {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.membership-item {
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 15px 49px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.mi-title {
    background: var(--gradiant);
    border-radius: 20px 20px 0 0;
    padding: 25px 0;
    position: relative;
    margin-bottom: 38px;
}

.mi-title h4 {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--second-color);
}

.mi-title::after {
    position: absolute;
    background: var(--gradiant);
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 0%, 50% 100%, 50% 100%, 100% 0%);
    bottom: -14px;
    width: 30px;
    height: 15px;
    content: "";
}

.mi-price {
    font-size: 40px;
    color: #f15d44;
    font-weight: 600;
    margin-bottom: 15px;
}

.mi-price span {
    font-size: 16px;
    color: #6b6b6b;
    font-weight: 400;
}

.membership-item ul {
    margin-bottom: 27px;
    padding-bottom: 27px;
}

.membership-item ul li {
    list-style: none;
    font-size: 16px;
    line-height: 70px;
}

.membership-item ul li p {
    margin-bottom: 0;
    color: #6b6b6b;
}

.membership-item ul li span {
    color: #111111;
    font-weight: 600;
}

.membership-item p {
    line-height: 26px;
    margin: 0 0 15px 0;
}

.para {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 70px;
}

/* End Memberships */

/* Start Contact */
.contact_container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.contact-map {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/* End Contact */
