@media (width < 768px) {
    nav {
        padding: 0 25px;
    }
    .nav-btn {
        display: block;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        position: fixed;
        background: linear-gradient(#303030, #303030);
        backdrop-filter: blur(8.5px);
        width: 100dvw;
        height: 100dvh;
        top: 0;
        left: 0;
        padding: 0;
        justify-content: center;
        transform: translateX(-100%);
        transition: all 0.4s;
        z-index: 10;
    }
    nav ul.actv {
        transform: translateX(0%);
    }
    .lower-foot .contacts {
        flex-direction: column;
        margin-bottom: 35px;
    }
    .lower-foot .contacts > div {
        width: 100%;
    }
    .lower-foot .colored-txt {
        margin-bottom: 10px;
    }
    .lower-foot .white-txt {
        margin-bottom: 20px;
    }
    .lower-foot .footer-mail {
        flex-direction: column;
        align-items: start;
        gap: 35px;
    }
    .lower-foot .footer-mail .white-header {
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    .copyright {
        flex-direction: column;
        text-align: center;
    }
    .copyright p {
        margin-bottom: 15px;
    }
    .foot-socials {
        padding: 0;
    }
}
@media (width < 992px) {
    .upper-foot {
        flex-direction: column;
    }
    .upper-foot-half {
        width: 100%;
    }
    .upper-foot-half .colored-txt {
        font-weight: bold;
    }
    .lower-foot {
        padding: 40px 0;
    }
}
